<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
        <h1 th:text="${player.name}"></h1>
        <h2>Турниры</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название турнира</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="tournament : ${player.tournaments}">
                <tr>
                    <td th:text="${tournament.id}"></td>
                    <td><a th:href="@{/leagues/{league_id}/tournaments/{tournament_id}(league_id=${leagueId}, tournament_id=${tournament.id})}" class="name-ref">Лига Вузов. Тур 1</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <h2>Команды</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название команды</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="team: ${player.teams}">
                <tr>
                    <td th:text="${team.id}"></td>
                    <td><a th:href="@{/leagues/{league_id}/teams/{team_id}(league_id=${leagueId}, team_id=${team.id})}" class="name-ref">Окей Гоголь</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <h2>Трансферы</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Старая команда</th>
                    <th>Новая команда</th>
                    <th>Дата трансфера</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="transfer : ${transfers}">
                <tr>
                    <td th:text="${transfer.getId()}"></td>
                    <td><a th:href="@{/leagues/{league_id}/teams/{team_id}(league_id=${leagueId}, team_id=${transfer.oldTeam.id})}" class="name-ref" th:text="${transfer.getOldTeam().getTeamName()}"></a></td>
                    <td><a th:href="@{/leagues/{league_id}/teams/{team_id}(league_id=${leagueId}, team_id=${transfer.newTeam.id})}" class="name-ref" th:text="${transfer.getNewTeam().getTeamName()}"></a></td>
                    <td th:text="${transfer.transferDate}"></td>
                    <td th:text="${transfer.comments}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>