<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>
<form method="POST" th:action="@{/register}" id="registerForm" th:object="${form}">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" /><br/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Ошибка в поле Username</p>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" /><br/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка в поле Password</p>

    <label for="confirm">Confirm password: </label>
    <input type="password" th:field="*{confirm}" /><br/>
    <p th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}">Ошибка в поле Confirm</p>

    <label for="fullname">Full name: </label>
    <input type="text" th:field="*{fullname}" /><br/>
    <p th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Ошибка в поле Full name</p>

    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" /><br/>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Ошибка в поле Email</p>

    <input type="submit" value="Register"/>
</form>
</body>
</html>
