<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reset Password</title>
</head>

<body>
<h1>Reset Password</h1>

<div th:if="${error}">
  <p th:text="${errorMessage}">Error message will appear here if there's an issue.</p>
</div>

<p>Enter your new password below.</p>

<form method="POST" th:action="@{/auth/confirm-reset-password}" id="reset-password-form">
  <input type="hidden" name="token" th:value="${token}" />

  <label for="newPassword">New Password: </label>
  <input type="password" name="newPassword" id="newPassword" required /><br/>

  <input type="submit" value="Reset Password"/>
</form>

</body>
</html>
