<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div sec:authorize="isAuthenticated()">
    <button id="openModal">Добавить новый или существующий турнир к лиге</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Добавление нового турнира</h2>
            <form id="tournamentNewForm" method="post">
                <div>
                    <label for="name">Название турнира:</label>
                    <input type="text" id="name" name="name" required />
                </div>

                <div>
                    <label for="dateOfStart">Дата начала:</label>
                    <input type="text" id="dateOfStart" name="dateOfStart" required />
                </div>
                <div>
                    <label for="dateOfFinal">Дата завершения:</label>
                    <input type="text" id="dateOfFinal" name="dateOfFinal" required />
                </div>
                <input type="hidden" id="leagueId" name="leagueId" th:value="${leagueId}" >
                <button type="submit">Добавить новый турнир</button>
            </form>
            <h2> Добавить существующий турнир</h2>
            <form id="tournamentForm" method="post">
            <div>
                <label for="tournamentId">Выберите турнир:</label>
                <select id="tournamentId" name="tournamentId" required>
                    <option th:each="tournament : ${allTournaments}"
                            th:value="${tournament.id}"
                            th:text="${tournament.name}"></option>
                </select>
            </div>
                <button type="submit">Добавить существующий турнир</button>
            </form>
            <h2> Добавить турнир с сайта МАК</h2>
            <form id="tournamentSiteForm" method="post">
                <div>
                    <div>
                        <label for="idSite">Айди с сайта МАК:</label>
                        <input type="text" id="idSite" name="idSite" required />
                    </div>
                    <input type="hidden" id="leagueIdSite" name="leagueIdSite" th:value="${leagueId}" >
                </div>
                <button type="submit">Добавить турнир</button>
            </form>
        </div>
    </div>
    </div>
    <div th:if="${tournaments.size() > 0}">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Id с сайта</th>
                    <th>Название</th>
                    <th>Дата начала турнира</th>
                    <th>Дата завершения турнира</th>
                    <th>Результаты</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="tournament : ${tournaments}">
                <tr>
                    <td>1</td>
                    <td><a href="#" class="name-ref" th:text="${tournament.getIdSite()}"></a></td>
                    <td th:text="${tournament.getName()}"></td>
                    <td th:text="${tournament.getDateOfStart()}"></td>
                    <td th:text="${tournament.getDateOfEnd()}"></td>
                    <td><a th:href="@{/leagues/{league_id}/tournaments/{tournament_id}/results(league_id=${leagueId}, tournament_id=${tournament.id})}" class="name-ref">Результаты</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div th:unless="${tournaments.size() > 0}">
        <p>Турниров пока нет</p>
    </div>
</body>
</html>